table {    
    margin: 0 auto; 
    margin-top: 50px;
    width: 40%;
    height: 550px;
    border-collapse: collapse;
    outline: 2px solid white;
    outline-offset: -2px;
}
td {    
    text-transform: uppercase;
    color: rgb(78, 77, 77);
    font-size: 35px;
    text-align: center;
    padding: 10px;    
    border: 2px solid black;  
}
#logo {
    background-color: orange;    
}
#menu {    
    background-color: red;    
}
#navigati {
    color: white;
    background-color: rgb(70, 68, 68);
}
#list {
    background-color: orange;
}
#news {
    color: white;
    background-color: brown;
}
#footer {
    background-color: orange;
}